In [14]:
import plotly.express as px

In [1]:
state_mapping={'west-bengal':'West Bengal',
 'delhi':'Delhi',
 'rajasthan':'Rajasthan',
 'tamil-nadu':'Tamil Nadu',
 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu',
 'goa':'Goa',
 'bihar':'Bihar',
 'puducherry':'Puducherry',
 'meghalaya':'Meghalaya',
 'gujarat':'Gujarat',
 'punjab':'Punjab',
 'maharashtra':'Maharashtra',
 'tripura':'Tripura',
 'andaman-&-nicobar-islands' :'Andaman & Nicobar',
 'telangana':'Telangana',
 'uttarakhand':'Uttarakhand',
 'lakshadweep':'Lakshadweep',
 'chhattisgarh':'Chhattisgarh',
 'chandigarh':'Chandigarh',
 'jammu-&-kashmir':'Jammu & Kashmir',
 'nagaland':'Nagaland',
 'ladakh':'Ladakh',
 'uttar-pradesh':'Uttar Pradesh',
 'himachal-pradesh':'Himachal Pradesh',
 'kerala':'Kerala',
 'mizoram':'Mizoram',
 'haryana':'Haryana',
 'madhya-pradesh':'Madhya Pradesh',
 'assam':'Assam',
 'andhra-pradesh':'Andhra Pradesh',
 'odisha':'Odisha',
 'sikkim':'Sikkim',
 'manipur':'Manipur',
 'jharkhand':'Jharkhand',
 'arunachal-pradesh':'Arunachal Pradesh',
 'karnataka':'Karnataka'}

In [1]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="D:/PHONEPAY/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Aggregated_Transaction=pd.DataFrame(clm)
Aggregated_Transaction['State'] = Aggregated_Transaction['State'].replace(state_mapping)

NameError: name 'state_mapping' is not defined

In [2]:
Aggregated_Transaction['Transacion_type'].unique()

array(['Recharge & bill payments', 'Peer-to-peer payments',
       'Merchant payments', 'Financial Services', 'Others'], dtype=object)

In [21]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.5 kB)
Downloading psycopg2-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 245.8 kB/s eta 0:00:05
   ---- ----------------------------------- 0.1/1.2 MB 653.6 kB/s eta 0:00:02
   -------- ------------------------------- 0.3/1.2 MB 1.0 MB/s eta 0:00:01
   ------------- -------------------------- 0.4/1.2 MB 1.3 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 1.5 MB/s eta 0:00:01
   ------------------------ --------------- 0.7/1.2 MB 1.9 MB/s eta 0:00:01
   ------------------------ --------------- 0.7/1.2 MB 1.8 MB/s eta 0:00:01
   ----------------------------- ---------- 0.9/1.2 MB 1.8 MB/s eta 0:00:01
   ----------------------------------- ---- 1.0/1.2 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 1.8 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [22]:
import psycopg2

In [20]:
import seaborn as sns

#fig = px.pie(values=Aggregated_Transaction["State"], names=Aggregated_Transaction["Transacion_count"])
#fig.show()
sns.set_theme(style="darkgrid")


sns.barplot(x=Aggregated_Transaction["Transacion_count"], y=Aggregated_Transaction["Transacion_count"],palette="Oranges")
sns.color_palette("rocket")

C:\Users\Prem\AppData\Local\Temp\ipykernel_6836\2794504017.py:8: FutureWarning:



Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

[(0.20973515, 0.09747934, 0.24238489),
 (0.43860848, 0.12177004, 0.34119475),
 (0.67824099, 0.09192342, 0.3504148),
 (0.8833417, 0.19830556, 0.26014181),
 (0.95381595, 0.46373781, 0.31769923),
 (0.96516917, 0.70776351, 0.5606593)]

In [13]:
(Aggregated_Transaction["State"].unique())

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [3]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path_2="D:/PHONEPAY/pulse/data/aggregated/user/country/india/state/"
Agg_user_state_list=os.listdir(path_2)

Agg_user_data={'State':[], 'Year':[],'Quater':[],'Brand':[],'Count':[], 'Percentage':[]}

for i in Agg_user_state_list:
    p_i=path_2+i+"/"
    Agg_year=os.listdir(p_i)
    for j in Agg_year:
        p_j=p_i+j+"/"
        Agg_year_list=os.listdir(p_j)
        for k in Agg_year_list:
            p_k=p_j+k
            data=open(p_k,'r')
            U=json.load(data)
            try:

              for b in U['data']['usersByDevice']:
                brand=b["brand"]
                count=b["count"]
                percentage=b["percentage"]

                Agg_user_data['Brand'].append(brand)
                Agg_user_data['Count'].append(count)
                Agg_user_data['Percentage'].append(percentage*100)
                Agg_user_data['State'].append(i)
                Agg_user_data['Year'].append(j)
                Agg_user_data['Quater'].append(int(k.strip('.json')))
            except:
              pass

Aggeregated_User=pd.DataFrame(Agg_user_data)
Aggeregated_User['State'] = Aggeregated_User['State'].replace(state_mapping)

In [4]:
path_3="D:/PHONEPAY/pulse/data/map/transaction/hover/country/india/state/"
Map_transaction_state_list=os.listdir(path_3)

map_trans_data={'State':[],'Year':[],'Quater':[],'District':[],'Count':[],'Amount':[]}

for i in Map_transaction_state_list:
    p_i=path_3+i+"/"
    map_year=os.listdir(p_i)
    for j in map_year:
        p_j=p_i+j+"/"
        map_year_list=os.listdir(p_j)
        for k in map_year_list:
            p_k=p_j+k
            map_data=open(p_k,'r')
            C=json.load(map_data)
            for y in C:
              dist_ct=C['data']['hoverDataList'][0]['name']
              count=C['data']['hoverDataList'][0]['metric'][0]['count']
              amount=C['data']['hoverDataList'][0]['metric'][0]['amount']
              map_trans_data["State"].append(i)
              map_trans_data["Year"].append(j)
              map_trans_data["District"].append(dist_ct)
              map_trans_data["Count"].append(count)
              map_trans_data["Amount"].append(amount)
              map_trans_data['Quater'].append(int(k.strip('.json')))
map_transaction=pd.DataFrame(map_trans_data)

map_transaction['State'] = map_transaction['State'].replace(state_mapping)

In [5]:
path_4="D:/PHONEPAY/pulse/data/map/user/hover/country/india/state/"
Map_user_state_list=os.listdir(path_4)

Map_user_data={'State':[],'Year':[],'Quater':[],'District':[],'Registerdusers':[],'Appopens':[]}

for i in Map_user_state_list:
    p_i=path_4+i+"/"
    map_year=os.listdir(p_i)
    for j in map_year:
        p_j=p_i+j+"/"
        map_year_list=os.listdir(p_j)
        for k in map_year_list:
            p_k=p_j+k
            map_user_data=open(p_k,'r')
            m=json.load(map_user_data)
            for map in m["data"]["hoverData"].items():
              district=map[0]
              reg_users=map[1]["registeredUsers"]
              app_opens=map[1]['appOpens']

              Map_user_data["District"].append(district)
              Map_user_data["Registerdusers"].append(reg_users)

              Map_user_data["Appopens"].append(app_opens)
              Map_user_data["State"].append(i)
              Map_user_data["Year"].append(j)
              Map_user_data['Quater'].append(int(k.strip('.json')))
Map_User=pd.DataFrame( Map_user_data)
Map_User['State'] = Map_User['State'].replace(state_mapping)

In [6]:
path_5="D:/PHONEPAY/pulse/data/top/transaction/country/india/state/"
Top_transaction_state_list=os.listdir(path_5)

Top_trans_data={'State':[],'Year':[],'Quater':[],'District_pincode':[],'Count':[],'Amount':[]}

for i in Top_transaction_state_list:
    p_i=path_5+i+"/"
    Top_year=os.listdir(p_i)
    for j in Top_year:
        p_j=p_i+j+"/"
        Top_year_list=os.listdir(p_j)
        for k in Top_year_list:
            p_k=p_j+k
            Top_data=open(p_k,'r')
            T=json.load(Top_data)
            for top in T['data']['pincodes']:
                pincode=top['entityName']
                count=top['metric']['count']
                amount=top['metric']['amount']
                Top_trans_data["State"].append(i)
                Top_trans_data["Year"].append(j)
                Top_trans_data["District_pincode"].append(pincode)
                Top_trans_data["Count"].append(count)
                Top_trans_data["Amount"].append(amount)
                Top_trans_data['Quater'].append(int(k.strip('.json')))


Top_transaction=pd.DataFrame(Top_trans_data)
Top_transaction['State'] = Top_transaction['State'].replace(state_mapping)

In [7]:
path_6="D://PHONEPAY//pulse//data//top//user//country//india//state//"
Top_user_state_list=os.listdir(path_6)

Top_user_data={'State':[],'Year':[],'Quater':[],'District_Pincode':[],'Registerd_User':[]}

for i in Top_user_state_list:
    p_i=path_6+i+"//"
    Top_year=os.listdir(p_i)
    for j in Top_year:
        p_j=p_i+j+"/"
        Top_year_list=os.listdir(p_j)
        for k in Top_year_list:
            p_k=p_j+k
            to=open(p_k,'r')
            user=json.load(to)
           
           
            for t in user['data']['pincodes']:
                pin_code=t["name"]
                reg_users=t["registeredUsers"]
                Top_user_data ["State"] .append(i)
                Top_user_data["Year"].append(j)
                Top_user_data["Quater"].append(int(k.strip('.json')))
                Top_user_data["District_Pincode"].append(pin_code)
                Top_user_data["Registerd_User"].append(reg_users)

Top_user=pd.DataFrame(Top_user_data)   
Top_user['State'] = Top_user['State'].replace(state_mapping)

In [14]:
import json
import pymysql
from sqlalchemy import create_engine
import mysql.connector

In [15]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="")
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002C0F69E99A0>

In [ ]:
mycursor.execute("create database Phonepe")

In [ ]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.AGGREGATED_TRANSACTION(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        Transaction_type TEXT,
                        Transaction_count BIGINT,
                        Transaction_Amount VARCHAR(500)
                )''')
mydb.commit()

In [ ]:
for index,row in Aggregated_Transaction.iterrows():
    mycursor.execute('''INSERT INTO phonepe.AGGREGATED_TRANSACTION(State,Year,Quater,Transaction_type,Transaction_count,Transaction_Amount)
                     VALUES(%s,%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['Transacion_type'],row['Transacion_count'],row['Transacion_amount']))
mydb.commit()

In [10]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.AGGREGATED_USER(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        Brand TEXT,
                        Count BIGINT,
                        Percentage float
                )''')
mydb.commit()

In [11]:
for index,row in Aggeregated_User.iterrows():
    mycursor.execute('''INSERT INTO phonepe.AGGREGATED_USER(State,Year,Quater, Brand ,Count,Percentage)
                     VALUES(%s,%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['Brand'],row['Count'],row['Percentage']))
mydb.commit()

In [ ]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.MAP_TRANSACTION(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        District TEXT,
                        Transaction_count BIGINT,
                        TRansaction_amount VARCHAR(500)
                )''')
mydb.commit()

In [ ]:
for index,row in map_transaction.iterrows():
    mycursor.execute('''INSERT INTO phonepe.MAP_TRANSACTION(State,Year,Quater,District,Transaction_count,Transaction_amount)
                     VALUES(%s,%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['District'],row['Count'],row['Amount']))
mydb.commit()

In [ ]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.MAP_USER(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        District TEXT,
                        Registered_Users BIGINT,
                        App_opens VARCHAR(500)
                )''')
mydb.commit()

In [ ]:
for index,row in Map_User.iterrows():
    mycursor.execute('''INSERT INTO phonepe.MAP_USER(State,Year,Quater,District, Registered_Users,App_opens)
                     VALUES(%s,%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['District'],row['Registerdusers'],row['Appopens']))
mydb.commit()

In [ ]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.TOP_TRANSACTION(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        District_Pincode INT(50),
                        Count BIGINT,
                        Amount BIGINT
                )''')
mydb.commit()

In [ ]:
for index,row in Top_transaction.iterrows():
    mycursor.execute('''INSERT INTO phonepe.TOP_TRANSACTION(State,Year,Quater,District_pincode,Count,Amount)
                     VALUES(%s,%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['District_pincode'],row['Count'],row['Amount']))
mydb.commit()

In [ ]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS phonepe.Top_USER(State VARCHAR(255),
                        Year INT(50),
                        Quater INT(50),
                        District_pincode INT(50),
                        Registered_Users TEXT
                        
                )''')
mydb.commit()

In [ ]:
for index,row in Top_user.iterrows():
    mycursor.execute('''INSERT INTO phonepe.TOP_USER(State,Year,Quater,District_pincode, Registered_Users)
                     VALUES(%s,%s,%s,%s,%s)''',
                     (row['State'],row['Year'],row['Quater'],row['District_Pincode'],row['Registerd_User']))
mydb.commit()